/* modify this css file at your own risk. You can always reset your local version of this file to the current default by emptying it completely */

@font-face {
    font-family: "emqjeciv";
    src: url('emqjeciv.ttf') format('truetype');
}

@font-face {
    font-family: "emqjeciv2";
    src: url('emqjeciv2.ttf') format('truetype');
}

@font-face {
    font-family: "emqjeciv3";
    src: url('emqjeciv3.ttf') format('truetype');
}

:root {
    --max-width: 600px;
    --text-color: white;
    --background-color: black;
    --danger-color: red;
    /* --sent-color: grey; */
    --sent-color: #7A7A7A;
    /* --received-color: blue; */
    --received-color: #0076E5;
    /* --sms-color: green; */
    --sms-color: #6ABF40;
}

.light-mode {
    --text-color: black;
    --background-color: white;
    --sent-color: lightgrey;
    --received-color: dodgerblue;
    --sms-color: limegreen;
}

.ceiling {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 18px;
    text-align: justify;
}

.chapter {
    max-width: var(--max-width);
    margin: 0 auto;
}

.emqjeciv {
    font-family: "emqjeciv";
}

.emqjeciv2 {
    font-family: "emqjeciv2";
}

.emqjeciv3 {
    font-family: "emqjeciv3";
}

.clink {
    color: var(--background-color);
    background-color: var(--text-color);
    text-decoration: none;
}

.clink .emqjeciv {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.link {
    font-style: italic;
    color: var(--text-color);
    text-decoration: none;
}

.unlink {
    color: var(--text-color);
    text-decoration: none;
}

.norender {
    display: none;
}

.bubble {
    display: block;
    text-align: left;
    max-width: calc(var(--max-width) * 2 / 5);
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left {
    align-self: flex-start;
    margin-right: auto;
}

.right {
    align-self: flex-end;
    margin-left: auto;
}

.bubble.sent {
    background-color: var(--sent-color);
    border-bottom-right-radius: 0px;
    align-self: flex-end;
    margin-left: auto;
}

.bubble.received {
    background-color: var(--received-color);
    border-bottom-left-radius: 0px;
    align-self: flex-start;
    margin-right: auto;
}

.bubble.sms {
    background-color: var(--sms-color);
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.red {
    color: var(--danger-color);
}

bold {
    font-weight: bold;
}

img {
    width: var(--max-width);
}

abbr {
    cursor: help;
}

music {
    cursor: pointer;
}